beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
greenlet==3.2.3
idna==3.10
playwright==1.53.0
pyee==12.1.1
requests==2.32.4
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0
