beautifulsoup4==4.14.3
certifi==2025.11.12
charset-normalizer==3.4.7
greenlet==3.5.0
idna==3.13
playwright==1.59.0
pyee==12.1.1
requests==2.33.1
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
