name: deploy evidence

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: write
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: json2csv
        run: |
          bash json2csv.sh

      - uses: actions/setup-node@v4
        with:
          node-version-file: .tool-versions

      - run: npm ci
        working-directory: evidence

      - run: npm run sources
        working-directory: evidence

      - run: npm run build
        working-directory: evidence

      - run: chmod -R go+r build
        working-directory: evidence

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./evidence/build
        if: github.event_name != 'pull_request'

  # Deployment job
  deploy:
    if: github.event_name != 'pull_request'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          timeout: 600000
