name: notify

on:
  push:
    branches:
      - main
    paths:
      - data/**
      - diff.py
      - .github/workflows/notify.yaml

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: .python-version

      - run: pip install -r bs/requirements.txt

      - name: notify
        run: ls data/*/*/*/* | tail -n 2 | xargs python diff.py
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

